START
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHGP
PUSHI 0
PUSHI 1
ADD
PUSHI 1
SUB
PUSHI 10
STOREN
PUSHGP
PUSHI 0
PUSHI 2
ADD
PUSHI 1
SUB
PUSHI 20
STOREN
PUSHGP
PUSHI 0
PUSHI 3
ADD
PUSHI 1
SUB
PUSHI 30
STOREN
PUSHI 1
STOREG 3
LOOP1:
PUSHG 3
PUSHI 3
INFEQ
JZ ENDLOOP2
PUSHS "V("
WRITES
PUSHG 3
WRITEI
PUSHS ")="
WRITES
PUSHGP
PUSHI 0
PUSHG 3
ADD
PUSHI 1
SUB
LOADN
WRITEI
PUSHS "\n"
WRITES
PUSHG 3
PUSHI 1
ADD
STOREG 3
JUMP LOOP1
ENDLOOP2:
STOP
