START
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 7
STOREG 0
PUSHG 0
STOREG 3
PUSHA DOBRO
CALL
STOREG 1
PUSHS "dobro="
WRITES
PUSHG 1
WRITEI
PUSHS "\n"
WRITES
STOP
DOBRO:
PUSHG 3
PUSHI 2
MUL
STOREG 4
PUSHG 4
RETURN
