START
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 3
STOREG 2
PUSHA QUAD
CALL
PUSHI 4
STOREG 2
PUSHA QUAD
CALL
ADD
STOREG 0
PUSHS "soma quadrados="
WRITES
PUSHG 0
WRITEI
PUSHS "\n"
WRITES
STOP
QUAD:
PUSHG 2
PUSHG 2
MUL
STOREG 3
PUSHG 3
RETURN
