START
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 3
STOREG 0
PUSHI 7
STOREG 1
PUSHG 0
STOREG 2
PUSHG 1
STOREG 3
PUSHA SOMAR
CALL
STOP
SOMAR:
PUSHG 2
PUSHG 3
ADD
STOREG 4
PUSHS "soma="
WRITES
PUSHG 4
WRITEI
PUSHS "\n"
WRITES
RETURN
