START
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
WRITES
PUSHS "\n"
WRITES
READ
ATOI
STOREG 0
PUSHI 2
STOREG 1
LOOP1:
PUSHG 1
PUSHI 9
INFEQ
JZ ENDLOOP2
PUSHG 0
STOREG 4
PUSHG 1
STOREG 5
PUSHA CONVRT
CALL
STOREG 2
PUSHS "BASE "
WRITES
PUSHG 1
WRITEI
PUSHS ": "
WRITES
PUSHG 2
WRITEI
PUSHS "\n"
WRITES
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP LOOP1
ENDLOOP2:
STOP
CONVRT:
PUSHI 0
STOREG 9
PUSHI 1
STOREG 8
PUSHG 4
STOREG 6
LBL20:
PUSHG 6
PUSHI 0
SUP
JZ ENDIF4
PUSHG 6
PUSHG 5
MOD
STOREG 7
PUSHG 9
PUSHG 7
PUSHG 8
MUL
ADD
STOREG 9
PUSHG 6
PUSHG 5
DIV
STOREG 6
PUSHG 8
PUSHI 10
MUL
STOREG 8
JUMP LBL20
ENDIF4:
PUSHG 9
STOREG 10
PUSHG 10
RETURN
