START
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
STOREG 6
PUSHS "Introduza 5 numeros inteiros:"
WRITES
PUSHS "\n"
WRITES
PUSHI 1
STOREG 5
LOOP1:
PUSHG 5
PUSHI 5
INFEQ
JZ ENDLOOP2
PUSHGP
PUSHI 0
PUSHG 5
ADD
PUSHI 1
SUB
READ
ATOI
STOREN
PUSHG 6
PUSHGP
PUSHI 0
PUSHG 5
ADD
PUSHI 1
SUB
LOADN
ADD
STOREG 6
PUSHG 5
PUSHI 1
ADD
STOREG 5
JUMP LOOP1
ENDLOOP2:
PUSHS "A soma dos numeros e: "
WRITES
PUSHG 6
WRITEI
PUSHS "\n"
WRITES
STOP
